  <div class="text-center center-block footer">
        <a href="#"><i class="fa fa-facebook-square fa-3x social" id="social-fb"></i></a>
        <a href="#"><i class="fa fa-instagram fa-3x social" id="social-is"></i></a>
        <a href="#"><i class="fa fa-pinterest-square fa-3x social" id="social-pi"></i></a>
        <a href="mailto:#"><i class="fa fa-envelope-square fa-3x social" id="social-em"></i></a>
        <br />
        <p class="txt-railway"> Joy Alves - <%= Date.current.year %> </p>
  </div>

