
<!-- *** TOP ***
_________________________________________________________ -->
<div id="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-7 contact">
                <p class="hidden-xs">Contate-nos:  <i class="fa fa-whatsapp" aria-hidden="true"></i> 41 96937334 ou <i class="fa fa-envelope-square"  aria-hidden="true"></i> adm@sweetjoy.com.br</p>
                <!-- <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </p> -->
            </div>
            <div class="col-xs-5">
                <div class="social">
                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </div>

<!--                 <div class="login">
                    <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
                    <a href="customer-register.html"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Sign up</span></a>
                </div> -->

            </div>
        </div>
    </div>
</div>

<!-- *** TOP END *** -->

<div class="navbar-wagon">
  <!-- Logo -->
  <% link_to "/", class: "navbar-wagon-brand" do %>
    <%= image_tag "logo-website.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Search form -->
  <!--   <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Text link -->
    <%= link_to "Encomendas", '/produtos', class:"navbar-wagon-item navbar-wagon-link"%>

    <!-- Text link -->
    <%= link_to "Blog", '/blog', class:"navbar-wagon-item navbar-wagon-link"%>

    <!-- Text link -->
    <%= link_to "Sobre Nós", 'sobre-nos', class:"navbar-wagon-item navbar-wagon-link"%>


    <!-- Notification link-->
<!--     <a href="" class="navbar-wagon-item navbar-wagon-link">
      <div class="badge-container">
        <i class="fa fa-envelope-o"></i>
        <div class="badge badge-blue">3</div>
      </div>
    </a> -->

    <!-- Profile picture and dropdown -->
<!--     <div class="navbar-wagon-item">
      <div class="dropdown">
        <img src="http://placehold.it/50x50" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Encomendas de doces</a></li>
          <li><a href="#">Cursos</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
      </div>
    </div> -->

    <!-- Button (call-to-action) -->
    <a href="" class="navbar-wagon-item navbar-wagon-button btn">Cadastre seu email</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Encomendas</a></li>
        <li><a href="#">Cursos</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</div>
